<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> customer Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/customer_ctrl/customer_login" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="number" id="password" name="password" required><br>
    <button type="submit">Login</button>
</form>
<p th:if="${message}" th:text="${message}"></p>
<p>Don't have an account? <a href="/personal_signup">Sign Up</a></p>
<script>
    const message = /*[[${message}]]*/ '';
    if (message) {
        alert(message);
    }
</script>


</body>
</html>
